/*standard on every file*/

@media (max-width: 360px) {
    html{
        font-size: 1.4vw;
    }
    
}

@media (min-width: 361px) {
    html{
        font-size: 2vw;
    }
}

/*standard on every file*/

