/*standard on every file*/

@media (max-width: 360px) {
    html{
        font-size: 1.4vw;
    }
    
}

@media (min-width: 361px) {
    html{
        font-size: 2vw;
    }
}

/*standard on every file*/

html{
    background-color: #bc48c7;
} /* test */
form{
    margin: 0;

}

#formArea{
    text-align: left;
    width: 11em;
    min-height: 10em;
    margin: 19em auto;
    padding: 1em;
    font-size: 1em;
    background-color: #f1cbf5;
    display: flex;
    flex-direction: column;
}

input, label{
    width: 100%;

}
#responseBox{

}
#heading{
    text-decoration: wavy brown;
    font-size: 2em;

}