<html>
    <head>
        <title>Productivity App Home Page</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../js/home.js"></script>
        <link rel="stylesheet" href="../css/home.css">
    </head>
    <body>

            <div id='formArea'>
                <span id='heading'>Login</span>
                <form action="../main.py" method="GET">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="pwd">
                    <button type="submit">SignIn</button>
                </form>

                <span> New User</span> <br>
                <span> I forgot my passward</span>
            </div>

    </body>
</html>