<!DOCTYPE html>
<html>
    <head>
        {{include 'standard.html'}}
        <title>Productivity App Login Page</title>
        <script src="../js/login.js"></script>
        <link rel="stylesheet" href="../css/login.css">

    </head>
    <body>

            <div id='formArea'>
                <span id='heading'>Login</span>
                <form action="../main.py" method="GET">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="pwd">
                    <button type="submit">SignIn</button>
                </form>

                <span> New User</span> <br>
                <span> I forgot my passward</span>
            </div>

    </body>
</html> 